numpy
soundfile
scipy
tqdm
librosa
demucs
onnxruntime
onnxruntime-gpu
torch>=1.13.0
pyyaml
ml_collections
pytorch_lightning
segmentation_models_pytorch==0.3.3
fastapi[all]
uvicorn
boto3
requests
pydantic
pydantic[dotenv]